.bg {
    background-image: url("images/kanyee.png");
    background-size: cover;
    padding-top: 1%;
}

#content {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}

.header {
    margin: 1%;
    background-color: #8B0000;
    color: white;
    border-top: 3px solid gb(112, 0, 0);
    padding: 1%;
    text-align: center;
    opacity: 0.75;
}

.lyric-body {
    margin: 1%;
    padding: 1%;
    text-align: center;
    color: white;
    background-color: #8B0000;
    border-left: 3px solid rgb(112, 0, 0);
    opacity: 0.75;
}

.lyric-header {
    padding-bottom: 4px;
}

.lyric-p {
    padding-bottom: 4px;
}

.raps {
    margin: 1%;
    padding: 1%;
    color: white;
    background-color: #8B0000;
    border-left: 3px solid rgb(112, 0, 0);
    opacity: 0.9;
    text-align: center;
    opacity: 0.75;
}