.bg {
    background-image: url("images/kanyee.png");
    background-size: cover;
    padding-top: 1%;
}

#content {
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}

h2 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h4 {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.header {
    margin: 1%;
    background-color: #8B0000;
    color: white;
    border-top: 3px solid gb(112, 0, 0);
    padding: 1%;
    text-align: center;
    opacity: 0.8;
}

.lyric-body {
    margin: 1%;
    padding: 1%;
    text-align: center;
    color: white;
    background-color: #8B0000;
    border-left: 3px solid rgb(112, 0, 0);
    opacity: 0.8;
}

.raps {
    margin: 1%;
    padding: 1%;
    color: white;
    background-color: #8B0000;
    border-left: 3px solid rgb(112, 0, 0);
    opacity: 0.8;
    text-align: center;
}