.bg {
    background-image: "images/kanyee.png";
    background-size: cover;
    padding-top: 1%;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}
